<div class="container d-flex flex-column align-items-center py-3">
  <%= link_to '⬅ Voltar', :back, class: "btn btn-dark d-flex flex-row align-self-start align-items-center justify-content-center rounded" %>
  <h1 class="my-5">✔️ Task List</h1>
  <h3>✏️ Edite sua tarefa</h3>

  <div class="card px-3 py-5">
    <%= form_for @task do |f| %>
      <div class="col-12 my-2">
        <%= f.label :description, 'Descrição da Tarefa', class:"form-label" %>
        <%= f.text_field :description, class:"form-control", placeholder:"Digite sua tarefa" %>
      </div>
      <div class="col-12 my-5">
        <%= f.check_box :status, class:"form-check-input me-2" %>
        <%= f.label :status, 'Status', class:"form-check-label" %>
      </div>
      <%= f.submit 'Atualizar', class: "btn btn-secondary w-100" %>
    <% end %>
  </div>
</div>
