<%= link_to '⬅ Voltar', root_path(), class: "btn btn-dark d-flex flex-row align-self-start align-items-center justify-content-center rounded my-2 mx-2" %>
<div class="container d-flex flex-column align-items-center py-3">
  <%= link_to '✔️ Criar Nova Tarefa', new_task_path(), class: "main_button align-items-center btn btn-success d-flex flex-row align-items-center justify-content-center rounded my-3" %>
  <div class="my-5 py-1 w-100">
    <ol class="list-group list-group-numbered">
      <% @tasks.each do |task| %>
        <li class="list-group-item list-group-item-action d-flex flex-row justify-content-between w-100 <%= "completed" if task.completed? %>">
          <div class="ms-2 me-auto align-self-center">
            <div class="fw-bold"><%= task.description %></div>
          </div>
          <div class="ms-2 me-5 fw-bold d-flex flex-row justify-content-around align-items-center">
            <% if task.completed? %>
              <%#= button_to 'Marcar Incompleto', task_completion_path(task.id), method: :delete,
               class: "btn btn-outline-primary rounded-circle small_text text-break d-flex flex-column justify-content-center align-items-center me-2" %>
            <% else %>
              <%= button_to 'Marcar Completo', task_completions_path(task), class: "btn btn-outline-success rounded-circle small_text text-break d-flex flex-column justify-content-center align-items-center me-2" %>
            <% end %>
          </div>
          <%# <div class="">
          </div> %>
          <div class="d-flex flex-column justify-content-center align-items-center">
            <%= link_to '✏️', edit_task_path(task), class:"btn bg-info rounded align-baseline w-75 d-flex flex-row align-self-start align-items-center justify-content-center" %>
            <%= link_to '❌', task_path(task), method: :delete,
            data: {confirm: 'Quer apagar esta tarefa?'}, class:"btn bg-warning rounded align-baseline w-75 d-flex flex-row align-self-start align-items-center justify-content-center" %>
          </div>
        </li>
      <% end %>
    </ol>
  </div>
</div>
