<%= content_tag :h1, 'Boards', class: 'flex intems-center justify-center font-mono text-4xl text-gray-200 mx-auto' %>
<div class="grid grid-rows-2 grid-cols-2 grid-flow-row gap-2 hover:gap-4 mt-10 px-2">
  <% @boards.each do |board| %>
    <%= link_to tasks_path, class: "" do %>
      <div class="card bg-neutral-300 rounded-2xl shadow-lg hover:bg-slate-500 <%= board[:span] %> <%= @colors %>">
        <%= image_tag board[:image_url], alt: board[:title], class: "h-16 ml-2" %>
        <div class="p-4">
          <h2 class="font-bold text-lg"><%= board[:title] %></h2>
          <p class="text-gray-700 text-xs"><%= board[:description] %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
