<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Task List</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto+Slab&display=swap');
    </style>  
    <%= stylesheet_link_tag 'welcome' %>
</head>

<body>
    <div class="flex-container">
        <h1>Bem vindo ao Task List</h1>
        <h3>Sua lista de tarefas:</h3>
            <%= link_to '✔️ Criar Nova Tarefa', new_task_path() %>
        <% @tasks.each do |task| %>
            <ul class="card">
                <li>
                    <%= task.description %>
                </li>
                <%= link_to '✏️ Editar', edit_task_path(task) %>
                <%= link_to '❌ Apagar', task_path(task), method: :delete, 
                data: {confirm: 'Quer apagar esta tarefa?'} %>
            </ul>
        <% end %>
    </div>
    
</body>
</html>