<%= button_for :button_back, I18n.t('button_back'), board_path(@context.board_id) %>

<%= content_tag :h3, I18n.t('context.title'),
    class: 'flex intems-center justify-center font-mono text-sm text-gray-200 mx-auto'
%>

<div class='grid grid-rows-2 grid-cols-2 grid-flow-row gap-2 hover:gap-4 mt-10 px-2'>
  <%= button_for :create, nil, "/boards/#{params[:board_id]}/contexts/#{params[:id]}/tasks/new", { class: 'text-gray-200' } if signed? %>

  <% unless @tasks.empty? %>
    <% @tasks.each do |task| %>
      <%= link_to "/boards/#{params[:board_id]}/contexts/#{@context.try(:id)}/tasks/#{task.try(:id)}", class: '' do %>
        <div class="bg-red-200 card rounded-2xl shadow-lg py-2 px-4" >
          <div class="p-4">
            <p class="text-gray-700 text-xs"><%= task.description %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>