<%= button_for :button_back, I18n.t('button_back'), boards_path %>

<%= content_tag :h3, I18n.t('board.list'),
    class: 'flex intems-center justify-center font-mono text-sm text-gray-200 mx-auto'
%>

<div class='grid grid-rows-2 grid-cols-2 grid-flow-row gap-2 hover:gap-4 mt-10 px-2'>
  <%= button_for :create, nil, new_board_context_path(board_id: params[:id]), { class: 'text-gray-200' } if signed? %>

  <% unless @contexts.empty? %>
    <% @contexts.each do |context| %>
      <%= link_to "/boards/#{@boards.id}/contexts/#{context.id}", class: '' do %>
        <div class="bg-orange-200 card rounded-2xl shadow-lg" >
          <div class="p-4">
            <h2 class="font-bold text-lg"><%= context.name %></h2>
            <p class="text-gray-700 text-xs"><%= context.description %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
