<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Task List</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="text-center">
      <h1 class="my-5">Bem vindo ao Task List</h1>
      <%#= session[:current_email].present? ? session[:current_email] : sign_in_button %>
    </header>
    <%= yield %>
  </body>
</html>
